.cards-container {
    padding: 3em 0;

    a.card {
        // background: var(--foreground-color);
        // border: 1px solid var(--black);
        padding: 1%;
        // width: 300px;
        max-width: 500px;
        // margin-right: 1rem;
        margin-bottom: .5rem;
        // margin: 1em;
        font-family: var(--global-font-primary);
        transition: all .25s;

        .card-inner {
            width: auto;
            background: var(--foreground-color);
            border: 1px solid var(--black);
            box-shadow: var(--black) 5px 5px;
            transition: all .25s;
            padding: 1rem;
            overflow: hidden;

            h3 {
                padding-top: 1rem;
                border-top: 1px solid var(--black);
            }
        }
        
        &:nth-of-type(even) {
            margin: 2em 0;
        }

        &:hover {
            transform: scale(1.2);
            scale: 120%;
            z-index: 10;
            transition: all .5s;

                rotate: 5deg;

                .card-inner {
                    box-shadow: var(--black) 15px 15px;
                }
            
        }

        @media (max-width: 768px) { 
            &:hover {
                transform: none !important;
                scale: 100%;
                rotate: 0deg;
             }

             .card-inner {
                box-shadow: var(--black) 5px 5px;
            }
        }
    }
}