// *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_* 

// GLOBAL & DEFAULT STYLES

// *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_* 

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --black: #1b1c1e;
    --cyan: royalblue;
    --magenta: #f31969;
    --yellow: orange;
    --offwhite: #f2e8db;
    --accent: #515860;

    --background-color-primary: #f4f4f4;
    --background-color-secondary: var(--black);
    --dark-foreground: #121212;
    --light-foreground: #fff;

    --global-font-primary: 'Poppins', Helvetica, sans-serif;
    --global-font-secondary: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    // --global-font-link: 'Courier', monospace;
    // --global-font-link: 'aglet-mono', mono;
    --global-font-link: 'Space mono', monospace;



    // --decorative-font: 'Lexend Deca', sans-serif;
    // --decorative-font: 'Dela Gothic One', cursive;
    // --decorative-font:  'Urbane', sans-serif;

    --laptop: 5em 4vmax;
    // --laptop: 3rem;
    --tablet : 2rem .5rem;
}

html {
    background-color: var(--background-color-secondary);
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
	pointer-events: auto;
    font-size: 14px;
    max-width: 2440px;
}

body {
    background-color: var(--background-color-primary);
    transition: background-color 1s ease;
    font-family: var(--global-font-primary);
    color: var(--black);
    line-height: 1.5;
}

header {
    z-index: 100;
    width: 100%;
    padding: var(--laptop);
    padding-bottom: 0;
    position: absolute; 
    top: 0;

    .headernav {
        font-weight: 600;
        text-transform: capitalize;
        margin-bottom: 1rem;
        color: var(--black);
    }

    a.subheader {
        padding-left: 1em;
    }

    @media (max-width: 768px) {
        width: 100%;
        padding: var(--tablet);

        .headernav {
            margin-bottom: 1rem;
            letter-spacing: 0;

            &:after {
                content: ".";
            }
        } 

        .subheader {
            display: none;
        }

        //add if more than 2 menu items

        // li {
        //     padding: 1rem;
        //     line-height: .1;
        // }
    }
}

nav { 
    justify-content: space-between;

    @media (max-width: 425px) {
        justify-content: center;
    }
    
    ul {

        a {
            font-family: var(--global-font-link);
            font-family: var(--global-font-primary);
            text-transform: uppercase;
            font-weight: 400;
        }
    
        li {
            padding: 1em;
            list-style-type: none;
            display: inline-block;
            padding: 1rem;
            font-family: var(--global-font-secondary);
            line-height: 0;

            &:hover {
                .sub {
                    display: block;
                }
            }
        }

        .sub {
            display: none;
            position: fixed;
            white-space: pre-line;
            border: 1px solid black;
            margin-top: 1rem; 
            padding: 2rem;
            transition: all .25s;

            li {
                padding: 1rem 0;
            }

            &:hover {
                display: block;
            }
        }
    }
}

h1 {
    // font-size: 15vmin;
    font-size: 11vw;
}

h2 {
    font-size: 2.5rem;
    line-height: 1.25;
    // font-weight: 400;
}

h3,.h3 {
    font-size: 2rem;
}

p,q {
    font-family: var(--global-font-secondary);
    margin: 1rem 0;
    line-height: 1.75em;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

a {
    cursor: pointer !important;
    color: var(--accent);
    text-decoration: none;
    font-family: var(--global-font-link);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;

    .huge, &:hover {
        color: var(--black);

        h2 { 
            letter-spacing: 3px;
        }
    }
}

a, p, li {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none;
}

q {
    quotes: "“" "”" "“" "”";
    font-family: inherit;
    font-family: 'Georgia', serif;
    letter-spacing: .5px;
    font-size: 1.15em;
    font-weight: 500;
    font-style: italic;
    display: block;
    padding: 1.5rem;
    color: var(--accent);
    border: 1px solid var(--black);
    background-color: var(--foreground-color);
}
q::before, q::after {
    font-family: Georgia, sans-serif;
    color: var(--accent);
    display: block;
    margin-left: -.25rem;
    padding-right: .25rem;
    font-size: 3em;
    line-height: 0;
    padding: 2rem 0 1rem 0;
    font-style: normal;
}
q::before {
    content: open-quote;
    margin-bottom: -1rem;
    // margin-top: -2rem;
    // margin-top: 1em;
}
q::after {
    content: no-close-quote;
    display: none; 
}
q.noquote::before, q.noquote::after{
    display: none;
}

h1,h2,h3,h4,h5,h6,p,q,a {
    transition: all 0.5s;
}

img {
    object-fit: cover;
    width: 100%;
}

.paren::before, .paren::after{
    content: "(";
    margin: 0 2px;
}
.paren::after {
    content: ")";
}

// *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_* 

// ANIMATION

// *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_* 

div > * , h1, a {
    animation-duration: 1.5s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-name: moveInUp; 
}

@keyframes moveInUp {
    0% {
        // opacity: 0;
        transform: translateY(-1em);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



// *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_* 

// CUSTOMIZATIONS

// *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_* 

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nowrap {
    flex-wrap: nowrap;
}

.justify-between {
    justify-content: space-between;

    // @media (max-width: 425px) {
    //     justify-content: revert;
    // }
}

.justify-center {
    justify-content: center;
    text-align: center;
}

.justify-around {
    justify-content: space-around;
    text-align: center;
}

.justify-even {
    justify-content: space-evenly;
    text-align: center;
}

.align-center {
    align-items: center;
    align-content: center;
}

.stretch {
    align-items: stretch;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
}

.align-bottom {
    align-self: flex-end;
}

.upper {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .5vw;
    padding: 1em 0;
}

.huge {
    font-family: var(--global-font-primary);
    font-size: 12vmax;
    font-weight: 800;
    letter-spacing: -5px;
    line-height: 1;
    transition: .5s all ease-out;

    @media (max-width:1024px){
        font-size: 6rem;
        letter-spacing: 1px;
    }

    @media (max-width:425px){
        font-size: 3rem;
        letter-spacing: 1px;
    }

    a {
        font-weight: 800;
    }
}

.full {
    min-height: 100vh;
}

.twothirds {
    height: 92vh;
}

.half {
    height: 50vh;
    overflow: hidden;
}

.quarter {
    height: 25vh;
}

.autoheight,.full,.twothirds {
    @media (max-width: 768px) {
        height: auto;
    }

    @media (max-height: 768px) {
        height: auto;
    }
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 3em;
    padding-top: 3em;
    z-index: 100;
    background: var(--background-color-primary);
    background: inherit;
}

.arrowbefore:before {
    content: "\2190   ";
}

.arrowafterbefore:before {
    content: "   \2192";
}

.arrowafter:after {
    content: "   \2192";
    // &:hover {
    //     a {
    //         transform: translate(0, -5px);
    //         color: red;
    //     }
    // }
}

.arrowup:before {
    content: "\2191";
}

.arrowdown:after {
    content: "\2193";
    
}

.arrowbefore:before, .arrowafter:after, .arrowafterbefore:before  {
    font-family: var(--global-font-secondary);
    // font-family: var(--global-font-primary);
    font-weight: inherit;
}

.arrowdiag:after {
    content: " ↗ ";
}

// *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_* 

// ITEMS, TEMPLATES AND BUILDING BLOCKS

// *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_* 

.backtotop:before {
    content: "\2191 \A ";
    font-family: var(--global-font-secondary);
    white-space: pre-wrap;
    color: black;

}

.backtotop {
    color: inherit;
    background-color: white;
    border: 1px solid black;

    position: fixed;
    bottom: 0;
    right: 0;
    transform: translateX(1px);
    height: 3rem;
    width: 3rem;
    margin: 2em;
    padding-top: .85rem;
    font-size: .8em;
    transition: .25s;
    border-radius: 100%;

    z-index: 4;

    &:hover {
        background-color: var(--black);
    
        &:before {
            color: white;
            mix-blend-mode: difference;
        }
    }

    @media (max-width: 768px) {
        z-index: 100;
    }
}

section,.section {
    position: relative;
    width: 100%;
    padding: var(--laptop);

    .section-inner {
        padding: 1rem;
    }

    .section-narrow {
        max-width: 920px;
    }

    @media ( max-width: 768px) {
        padding: 1em 0;

        .section-inner {
            margin: 0;
        }

        .portfolio {
            padding: 0;
        }
      }
}


.hero {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    padding-top: 15vmax;
    position: relative;
    z-index: 99;

    
    h1 {
        letter-spacing: -.5vmin;
        inline-size: auto;
        overflow-wrap: break-word;
        padding: 1rem;
        padding-bottom: 3vmin;
        font-weight: 800;
        line-height: .9;
        // align-self: flex-end;
    }

    div {
        text-align: left;
        padding: 2em 0;
        * { max-width: 200px; }

        a {
            font-size: .9rem;
        }
    }

    @media (max-width: 768px) {  
        padding: var(--tablet);
        padding-top: 15vmax;

        div {
            padding: 3rem 1rem;

            &:last-child {
                align-self: center;
            } 
        }
    }

    @media (max-width: 425px) {
        justify-content: center;
        text-align: center;
    }
}

.text {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 1.5rem;

    p {
        max-width: 620px;
    }
}

.button {
    padding: 1rem;
    border: 1px solid var(--accent);
    margin: 1em;
}

.halves > * {
    width: 49.75%;
    margin-bottom: .5rem;
}
.keephalf > * {
    @media (max-width: 768px) { 
        width: 49.75% !important;

        &:last-child {
            margin: 0 auto;
            margin-bottom: .5rem;
        }

        a {
            width: 49%;

            &:last-child {
                margin: 0 auto;
                margin-bottom: .5rem;
            }
        }
    }
}
.thirds > * {
    width: 33.1%;
}
.fourths > * {
    width: 24.75%;
}
.fifths > * {
    width: 19.75%;
}
.sixths > * {
    width: 16.55%;
}
.uneven > * {
    width: 32%;
    
    &:last-child {
        width: 65%;

        @media (max-width: 768px) {
            width: 100%;
        }
    }
}

.halves,.thirds,.fourths,.fifths,.sixths,.uneven {
    height: 100%;
    margin: 0 auto;
    justify-content: space-between;

    a {
        margin-bottom: 0;
    }

    @media (max-width: 768px) {
        flex-wrap: wrap;

        img,a,div,q {
            width: 100%;
        }
    }
}

.thirds > *, .fourths > *,.fifths > *,.sixths > * {
    margin-bottom: .5rem;
    
    @media (max-width: 1080px) {
        width: 49.75%;

        &:last-child {
            margin: 0 auto;
            margin-bottom: .5rem;
        }
    }
}

// *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_* 

// FOOTER

// *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_* 

.footer, #footer {
    width: 100%;
    position: relative;
    bottom: 0;
    
    .global-footer {
        padding: 1rem;
    }

    .global-footer-container,.socials-container {
        width: 75vw;
        max-width: 1920px;
        margin: 0 auto;
    }

    .copyright {
        font-size: 12px;
        line-height: 0;
        // color: var(--accent);
    }
  
    .socials-container {
        width: 100%;
        padding: 2em;

        .copyright {
            margin: 1em;
        }
        
        .social-links {
            align-self: flex-end;

            p {
                color: var(--accent) !important;
            }
    
            a,p {
            text-transform: uppercase;
            font-weight: 500;
            margin: 1em;
            line-height: 0;
            }
            
            a:hover {
            color: var(--yellow);
            }
        }
    }
    
    p, a {
        letter-spacing: 1px;
        // margin: 0;
    }
  
    .global-footer-container {
        flex-wrap: nowrap;
        min-height: 200px;
        text-align: left;

        .site-title {
            font-size: 1.25rem;
            font-family: var(--global-font-primary);
            font-weight: 600;
            text-transform: capitalize;
        } 

        .site-title,.footer-links {
            margin: .5rem 0;

            a {
                text-transform: uppercase;

                &:hover {
                    color: var(--yellow);
                }
            }
        }

        p {
            font-family: var(--global-font-secondary);
            text-transform: none;
        }

        @media (max-width: 768px) { 
            padding: 0;
            flex-flow: column wrap;

            .footer-links > li {
            display: block;
            margin-bottom: .5rem;
            //text-align: right;
            }
        }
    } 
  
    @media (max-width: 768px) {
        justify-content: center;
        text-align: center;
        font-size: 16px;
        margin-top: 1em;

        min-height: 100vh;
        justify-content: space-around;
        text-align: center;
        font-size: 14px;

        .global-footer-container,.socials-container,div {
        padding: 1.5rem .5rem;
        width: 100%;
        }

        .footer-links > a {
        width: 100%;
        display: block;
        }
    
        .global-footer-container,.socials-container,.social-links,div {
            width: 100%;
        }
    
        .global-footer-container,.social-links, .copyright {
            // padding: 1em;
            justify-content: center;
        }
        
        .socials-container {
            border-top: 1px solid var(--accent);
        }
    }
}

// *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_* 

// COLORS

// *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_* 

.color-black {
    background-color: var(--black);
    --foreground-color: var(--dark-foreground);

    .backtotop {
        background-color: #000000;
        border-color: var(--offwhite);
        mix-blend-mode: difference;
        &:before {
            mix-blend-mode: difference;
            color: var(--offwhite);
        }
    }
}

.color-cyan  {
    background-color: var(--cyan);
}

.color-mag {
    background-color: var(--magenta);
}

.color-yellow {
    background-color: var(--yellow);
}

.color-black,.color-cyan,.color-mag {
    h1,h2,h3,h4,h5,h6,a,p {
        color: var(--offwhite);
    }
    .headernav {
        color: var(--offwhite);
    }
}

.color-cyan,.color-mag,.color-yellow {
    --foreground-color: var(--background-color-primary);
}

.color-white {
    background-color: var(--background-color-primary);
    --foreground-color: var(--light-foreground);

    p,q {
        color: var(--black);
    }

    a {
        color: var(--accent);
    }
}

.accent {
    color: var(--accent);
}

.darkgrey {
    color: var(--dark-grey);
}

.box-shadow {
    box-shadow: lightgrey 0px 0px 2em;
}

.blend {
    mix-blend-mode: difference;
}

.multiply {
    mix-blend-mode: multiply;
}


// *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_* 

// HIDE

// *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_* 

.hide {
    display: none;
}

.transparent {
    opacity: 0;
}