* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #1b1c1e;
    //--black: #121212;
    --cyan: royalblue;
    --magenta: hotpink;
    --yellow: orange;
    --offwhite: #fcedd8;
    --dark-grey: #343434;
    --light-grey: #f8f6fa;
    --accent: #707070; 
    --background-color-primary: #fff;
    --background-color-secondary: #fff;
    --background-color-footer: #fff;
    --link: #707070;
    --global-font-primary: 'Poppins', Helvetica, sans-serif;
    --global-font-secondary: -apple-system, system-ui;
}

html {
    background-color: var(--background-color-primary);
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
	pointer-events: auto;
    font-size: 14px;
}

body {
    font-family: var(--global-font-primary);
    color: var(--black);
}

h1 {
    font-size: 3rem;
    //font-size: 52px; 
}

h2 {
    font-size: 2.5rem;
    //font-size: 24px;
}

h3 {
    font-size: 2rem;
    //font-size: 14px;
}

p {
    font-family: var(--global-font-secondary);
    line-height: 1.5;
    max-width: 960px;
}

a {
    color: var(--accent);
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.5s;

    &:hover {
        color: var(--black);
    }
}

p, li {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none;
}

img {
    object-fit: cover;
    width: 100%;
}

section {
    width: 100%;
    padding: 3rem;
    background-color: var(--background-color-secondary);
    line-height: 1.5em;

    .section-inner {
        max-width: 1920px;
        margin: auto;
    }

    @media ( max-width: 768px) {
        padding: 85px 0;
      }
      
      @media ( max-width: 414px) {
       padding: 60px 0;
      }
      
}

header {
    h1.biggy {
    // font-size: 8vmin;
    //font-size: 72px;
    font-size: auto;
    }
}


.biggy {
    font-size: 4.5rem;
    line-height: 1.25em;

    @media (max-width: 768px) {
        font-size: 3rem;
    }
}


.accent {
    color: var(--accent);
}

.blackbg {
    background-color: var(--black);

    h1,h2,h3,h4,h5,h6,a,p {
        color: var(--offwhite);
    }
}

.yellowbg {
    background-color: var(--yellow);
}

.magbg {
    background-color: var(--magenta);
}

.cyanbg {
    background-color: var(--cyan);
}

.offwhitebg {
    background-color: var(--offwhite);
}

.normalbg {
    background-color: var(--background-color-primary);
    
    a, p {
        color: var(--black);
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.justify-between {
    justify-content: space-between;

    @media (max-width: 425px) {
        justify-content: auto;
    }
}

.justify-center {
    justify-content: center;
    text-align: center;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
}


.link {
    margin: 0 auto;
    padding: 1em 0;
    font-size: 1.25rem;
}

.full {
    height: 100vh;
}

.strong {
    font-weight: 600;
}

.title {
    max-width: 1920px;
    margin: auto;
    padding: 3rem;
    padding-top: 5em;

    h1,h2,h3 {
        max-width: 920px;
    }

    h2:after {
        content: " ";
    }

    @media (max-width: 818px) {  
        padding: 1.5rem;
    }
}

.arrowbefore:before {
    content: "\2190  ";
}

.arrowafter:after {
    content: "  \2192";
}

.arrowbefore:before, .arrowafter:after {
    font-family: var(--global-font-secondary);
    font-weight: 900;
}

.home.title { 
    h2, .home.link {
        text-align: center;
    }
}




footer {
    width: 100%;
    
    .global-footer,.icons,.contact,.nocookies {
        padding: 1rem;
        border-top: 2px solid var(--black);
    }

    .global-footer-container,.follow-container,.contact-container {
        width: 75vw;
        max-width: 1920px;
        margin: 0 auto;
    }
  
    a, p {
        font-family: var(--global-font-primary);
        color: var(--black);
        letter-spacing: 1px;
        text-transform: capitalize;
    }
  
    .global-footer-container {
        flex-wrap: nowrap;
        min-height: 250px;
        text-align: left;

        .site-title {
            font-size: 1.5rem;
            font-family: var(--global-font-primary);
            font-weight: 600;
        }

        .site-title,.footer-links {
            margin: 1rem 0;
            margin-right: 1em;

            a {
                text-transform: uppercase;
                margin-right: 1em;

                &:hover {
                    color: var(--magenta);
                }
            }
        }

        p {
            font-family: var(--global-font-secondary);
            text-transform: none;
        }
        
        @media (max-width: 768px) { 
            padding: 1rem;
            flex-flow: column wrap;
        }
    }
    
    .follow-container {
        a {
            text-transform: uppercase;
            font-weight: 800;
            //color: var(--offwhite);
            
            &:hover {
                color: var(--yellow);
            }
        }
    }
    
    .contact-container {
        .mail-container {
            flex-grow: 1;
            justify-content: center;

            .mail {
                cursor: text;
                font-weight: 500;
                text-transform: uppercase;
                border-bottom: 1px solid var(--black);
                padding: 0 5px;
                width: 23%;
                margin: 0 .5em;

                &:nth-of-type(3) {
                    width: 40%;

                    @media (max-width: 768px) {
                        width: 100%;
                    }
                }
                
                @media (max-width: 768px) {
                    justify-content: left;
                    text-align: left;
                    margin: 5px;
                    padding: 5px;
                    width: 100%;
                }
            }
        }
    }


    .contact,.mail,.nocookies {
        font-size: .9em;
    }

    .fa  {
        font-size: 1.25em;
        color: var(--black);
    } 
      
  
    @media (max-width: 768px) {
        font-size: 16px;
        justify-content: center;
        text-align: center;

        .global-footer-container,.icons,.follow-container,.contact-container,.nocookies,.mail-container,div {
            flex-direction: column;
            padding: 1.5rem .5rem;
            width: 100%;
        }

        .global-footer-container > div:first-of-type {
            order: 2;
        }

        .footer-links > a {
            width: 100%;
            display: block;
            padding-top: .5em;
        }


        .follow-container {
            padding: 0;
            justify-content: center;
            flex-direction: row;
            
            a {
               padding: 0 1rem;
            }
        }

        .contact-container a:last-child {
            margin-top: 1em;
        }
    }
}


.hide {
    display: none;
}