* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --black: #1b1c1e;
    --blackp: #381338;
    --cyan: royalblue;
    --magenta: hotpink;
    --magenta: #ff4a74;
    --magenta: #f04494;
    --yellow: orange;
    --offwhite: #fcedd8;
    --dark-grey: #525252;
    --light-grey: #f8f6fa;
    --accent: #707080; 
    --background-color-primary: #fff;
    --background-color-secondary: #fff;
    --background-color-footer: #fff;
    --link: #707080; 
    --global-font-primary: 'Poppins', Helvetica, sans-serif;
    //--global-font-primary: 'Urbane', sans-serif;
    //--global-font-primary: 'Grenadine MVB', sans-serif;
    //--global-font-primary: 'Dela Gothic One', cursive;
    --global-font-secondary: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

html {
    background-color: var(--background-color-primary);
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
	pointer-events: auto;
    font-size: 14px;
}

body {
    font-family: var(--global-font-primary);
    color: var(--black);
    line-height: 1.5;
}

h1 {
    font-size: 3rem;
    //font-size: 52px; 
}

h2 {
    font-size: 2.5rem;
    //font-size: 24px;
}

h3 {
    font-size: 2rem;
    //font-size: 14px;
}

p,q {
    font-family: var(--global-font-secondary);
    margin: 1rem 0;
    line-height: 1.75em;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

nav { 
    ul {
        li {
            list-style-type: none;
            display: inline-block;
            padding: 1rem;
            font-family: var(--global-font-secondary);
            line-height: 0;

            &:hover {
                .sub {
                    display: block;
                }
            }
        }

        .sub {
            display: none;
            position: fixed;
            white-space: pre-line;
            border: 1px solid black;
            margin-top: 1rem; 
            padding: 2rem;
            transition: all .25s;

            li {
                padding: 1rem 0;
            }

            &:hover {
                display: block;
            }
        }
    }
}

a {
    cursor: pointer !important;
    color: var(--link);
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.5s;

    &:hover {
        color: var(--black);
    }
}

a, p, li {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none;
}

img {
    object-fit: cover;
    width: 100%;
}

q {
    font-family: inherit;
    //font-size: 1.15rem;
    //font-weight: 500;
    letter-spacing: .5px;
    //font-style: italic;
    color: var(--black);
    display: block;
    padding: 0 1.5em;
    border-left: 2px solid var(--accent);
}
q::before, q::after {
    content: open-quote open-quote;
    font-family: Georgia, sans-serif;
    color: var(--accent);
    display: block;
    margin-left: -.25rem;
    padding-right: .25rem;
    font-size: 3em;
    line-height: 0;
    padding: 2rem 0 1rem 0;
    font-style: normal;
}
q::after {
    content: close-quote close-quote;
    display: none;
}
q.noquote::before, q.noquote::after{
    display: none;
}


.paren::before, .paren::after{
    content: "(";
    margin: 0 2px;
}
.paren::after {
    content: ")";
}

div > * {
    animation-duration: 1.5s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-name: moveInUp; 
}

@keyframes moveInUp {
    0% {
        transform: translateY(-1rem);
    }

    100% {
        transform: translateY(0);
    }
}

// *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_* 

// COLORS

// *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_* 

.blackbg {
    background-color: var(--black);
}

.yellowbg {
    background-color: var(--yellow);
}

.magbg {
    background-color: var(--magenta);
}

.cyanbg {
    background-color: var(--cyan);
}

.offwhitebg {
    background-color: var(--offwhite);
}

.normalbg {
    background-color: var(--background-color-primary);
    
    p,q {
        color: var(--black);
    }

    a {
        color: var(--link);
    }
}

.magbg,.cyanbg,.blackbg {
    h1,h2,h3,h4,h5,h6,a,p,q {
        color: var(--offwhite);
    }
    .header {
        color: var(--offwhite) !important;
    }
}

.yellowbg {
    h1,h2,h3,h4,h5,h6,a,p,q {
        color: var(--blackp);
    }
    
    .header {
        color: var(--blackp) !important;
    }
}

.accent {
    color: var(--accent);
}

.blend {
    mix-blend-mode: difference;
}

// *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_* 

// CUSTOMIZATIONS

// *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_* 

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.justify-between {
    justify-content: space-between;

    @media (max-width: 425px) {
        justify-content: auto;
    }
}

.justify-center {
    justify-content: center;
    text-align: center;
}

.justify-around {
    justify-content: space-around;
    text-align: center;
}

.align-center {
    align-items: center;
    align-content: center;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
}

.reverseorder {
    @media (max-width: 768px) {
        order: 2;
    }
}

h1.biggy, h2.biggy {
    font-size: 5rem;
    line-height: 1.25em;
    font-weight: 700;
    letter-spacing: -1px;

    @media (max-width: 768px) {
        font-size: 3rem;
    }
}

.huge {
    font-size: 12vmax;
    font-weight: 800;
    letter-spacing: -5px;
    line-height: 1;
    transition: .5s all ease-out;

    @media (max-width:1024px){
    font-size: 5rem;
    letter-spacing: 1px;
    }

    @media (max-width:425px){
    font-size: 3em;
    letter-spacing: 1px;
    }

    a {
        font-weight: 800;
    }
}

.min {
    font-size: 1.25rem;
}

.link {
    margin: 0 auto;
    padding: .5em 0;

    // a, .arrowbefore:before {
    //     font-weight: 400;
    // }
}

.button {
    font-size: .9em;
    padding: 1.5em 3em;
    border: 1px solid inherit;
    margin: 2em;
    text-align: center;
}

.outline-button {
    padding: 2rem;
    border: 1px solid var(--dark-grey);
    text-align: center;
    flex-grow: 1;
    margin-bottom: 2em;
    
    &:hover {
        background: var(--cyan);
    }
}

.backtotop:before {
    content: "\2191 \A ";
    font-weight: 800;
    white-space: pre-wrap;
}

.backtotop {
    //mix-blend-mode: difference;
    //background-color: var(--black);
    background-color: #fcedd880;
    //opacity: 30%;
    //background-color: inherit; 
    //color: inherit;
    //padding: 1.25rem 1.5rem;
    height: 3rem;
    width: 3rem;
    padding-top: .85rem;
    color: var(--black) !important;
    //width: 2em;
    //height: 2em;
    margin: 1em;
    margin-bottom: 2em;
    font-size: .8em;
    position: fixed;
    bottom: 0;
    right: 0;
    transform: translateX(1px);
    transition: .25s;
    border-radius: 100%;
    border: 1px solid black;
    z-index: 4;

    &:hover {
        background-color: white;
        background-color: var(--black);
        color: var(--black); 
        color: white !important;
    }

    @media (max-width: 768px) {
        z-index: 100;
    }
}

.full {
    min-height: 100vh;
}

.twothirds {
    height: 90vh;
}

.half {
    height: 50vh;
    overflow: hidden;
}

.full,.twothirds {
    @media (max-width: 768px) {
        height: auto;
    }

    @media (max-height: 768px) {
        height: auto;
    }
}

.stagger > *:nth-child(2n) {
    align-self: flex-end;
}

.strong {
    font-weight: 700;
}

.thin {
    font-weight: 500;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 100;
    background: var(--background-color-primary);
    //background: inherit;
}

.arrowbefore:before {
    content: "\2190  ";
}

.arrowafter:after {
    content: "  \2192";
    // &:hover {
    //     a {
    //         transform: translate(0, -5px);
    //         color: red;
    //     }
    // }
}

.arrowup:before {
    content: "\2191";
}

.arrowdown:after {
    content: "\2193";
    
}

.arrowbefore:before, .arrowafter:after {
    font-family: var(--global-font-secondary);
    font-family: var(--global-font-primary);
    font-weight: inherit;
}

.arrowdiag:after {
    content: " ↗ ";
}

// *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_* 

// TEMPLATES

// *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_* 

.small-header {
    padding: 2rem;
    padding-bottom: 0;

    p,a {
        font-family: var(--global-font-primary);
        text-transform: uppercase;
        font-weight: 400;
    }

    p,li {
        padding: 1em;
        list-style-type: none;
        line-height: 0;
    }

    p,.header {
        font-weight: 600;
        text-transform: capitalize;
        margin-bottom: 1rem;
        color: var(--black);
    }

    @media (max-width: 768px) {
        width: 100%;
        padding: 2rem .5rem;

        .header {
            margin-bottom: 1rem;
            letter-spacing: 0;
        } 
        
        // li {
        //     padding: 1rem;
        //     line-height: .1;
        // } //add if more than 2 menu items
    }
}

section,.section {
    position: relative;
    width: 100%;
    padding: 0 2.25rem;

    .section-inner {
        max-width: 1920px;
        margin: 2rem auto;
    }

    @media ( max-width: 768px) {
        padding: 1em 0;

        .section-inner {
            margin: 0;
        }

        .portfolio {
            padding: 0;
        }
      }
      
}

.title {
    padding: 5rem 3rem;

    h1,h2,h3,.link {
        margin: auto;
        max-width: 1920px;
    }

    h2:after {
        content: " ";
    }

    @media (max-width: 768px) {  
        padding: 2rem .5rem;
        padding-bottom: 4rem;
    }
}

.big-section {
    padding: 0 5rem;

    @media (max-width: 768px) {  
        padding: 1.5rem;
    }
}

.small-section {
    padding: 0 3rem;

    @media (max-width: 768px) {  
        padding: 1rem;
    }
}

.small-div {
    max-width: 520px;
}

.title,.big-section,.small-section {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.notebook-container {
    max-width: 1920px;
    padding: 2rem;

    @media (max-width: 768px) {
        padding: 1rem;
    }

    // a {
    //     text-transform: capitalize;

    //     &:after {
    //         content: " ↗ ";
    //     }
    // }
}

.entry-container {
    padding: .25rem;

    .entry-inner {
        border: 1px solid var(--black);
        padding: 2rem;
        margin-bottom: .5rem;
        align-content: top;

        @media (max-width: 768px) {
            padding: 1.5rem;
        }
    }
}


.halves > * {
    width: 49.75%;
}
.keephalf > * {
    @media (max-width: 768px) { 
        width: 49.75% !important;

        &:last-child {
            margin: 0 auto;
            margin-bottom: .5rem;
        }

        a {
            width: 49%;
            
            &:last-child {
                margin: 0 auto;
                margin-bottom: .5rem;
            }
        }
    }
}
.thirds > * {
    width: 33.1%;
}
.fourths > * {
    width: 24.75%;
}
.fifths > * {
    width: 19.75%;
}

.halves,.thirds,.fourths,.fifths {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    justify-content: space-between;

    @media (max-width: 768px) {
        flex-wrap: wrap;

        img,a,div {
            width: 100%;
        }
    }
}

.halves > *, .thirds > *, .fourths > *,.fifths > * {
    margin-bottom: .5rem;
    
    @media (max-width: 1080px) {
        width: 49.75%;

        &:last-child {
            margin: 0 auto;
            margin-bottom: .5rem;
        }
    }
}

.gallery > * > img {
    @media (min-width: 1080px) {
        padding: .5rem;
    }
} 


.footer, #footer {
    width: 100%;
    position: relative;
    z-index: 5;
    bottom: 0;

    .main-navigation {
        margin-top: 2em;
    }
    
    .global-footer {
        padding: 1rem;
        border-top: 1px solid var(--black);
    }

    .main-navigation,.global-footer-container,.socials-container {
        width: 75vw;
        max-width: 1920px;
        margin: 0 auto;
    }
  
    .socials-container {
        width: 100%;
    }
  
    p, a {
        font-family: var(--global-font-primary);
        color: var(--black);
        letter-spacing: 1px;
    }
  
    .global-footer-container {
        flex-wrap: nowrap;
        min-height: 250px;
        text-align: left;

        .site-title {
            font-size: 1.5rem;
            font-family: var(--global-font-primary);
            font-weight: 600;
            text-transform: capitalize;
        } 

        .site-title,.footer-links {
            margin: 1rem 0;

            a {
                text-transform: uppercase;

                &:hover {
                    color: var(--magenta);
                }
            }
        }

        p {
            font-family: var(--global-font-secondary);
            text-transform: none;
        }

        @media (max-width: 768px) { 
            padding: 0;
            flex-flow: column wrap;

            .footer-links > li {
            display: block;
            margin-bottom: .5rem;
            }
        }
    } 
  
    @media (max-width: 768px) {
        justify-content: center;
        text-align: center;
        font-size: 16px;
        margin-top: 1em;

        .global-footer-container,.icons,.follow-container,.socials-container,.nocookies,div {
        flex-direction: column;
        padding: 1.5rem .5rem;
        width: 100%;
        }

        .footer-links > a {
        width: 100%;
        display: block;
        }
    }
}


.hide {
    display: none;
}