* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #1b1c1e;
    --grey: #707070;
    --light-grey: #f8f6fa;
    --accent: #707070; 
    --background-color-primary: #fff;
    --background-color-secondary: #fff;
    --background-color-footer: #fff;
    --link: #707070;

    --global-font-primary: 'Poppins', Helvetica, sans-serif;
    --global-font-secondary: -apple-system, system-ui;
}

.accent {
    color: var(--accent);
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
}

html {
    background-color: var(--background-color-primary);
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
	pointer-events: auto;
}

body {
    font-family: var(--global-font-primary);
    color: var(--black);
    overflow-x: hidden;
}

/* h1 {
    font-size: 2vmin;
}

h2,h3 {
    font-size: .5vmin;
}

p {
    font-size: 1vmin;
} */

// .title {
//     h1, h2, h3, h4 {
//         font-size: 6vmin;
//         font-size: auto;
//         line-height: 1.25em;
//     }
// }



h1 {
    font-size: 3rem;
    font-size: 52px; 
}

h2 {
    font-size: 2.5rem;
    font-size: 24px;
}

h3 {
    font-size: 1.5rem;
    font-size: 14px;
}

.biggy {
    font-size: 6vmin;
    font-size: 52px;
    font-size: auto;
    line-height: 1.25em;
}

header {
    h1.biggy {
    font-size: 8vmin;
    font-size: 72px;
    }
}

p {
    font-family: var(--global-font-secondary);
}

a {
    color: var(--accent);
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1%;
    transition: all 0.5s;

    &:hover {
        color: var(--black);
    }
}

@media( max-width: 768px) {

    p {
      font-size: 14px;
    }
    
    h1, .h1, h2, .h2 {
      font-size: 36px;
    }
    
    h3, .h3 {
      font-size: 22px;
    }
  }
  
  @media( max-width: 414px) {
    h1, .h1, h2, .h2 {
      font-size: 32px;
    }
  }


.link {
    margin: 0 auto;
}

p, li {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none;
}

img {
    object-fit: cover;
    width: 100%;
}

section {
    width: 100%;
    max-width: 1920px;
    margin: auto;
    padding: 3rem;
    background-color: var(--background-color-secondary);
    line-height: 1.5em;

    @media ( max-width: 768px) {
        padding: 85px 0;
      }
      
      @media ( max-width: 414px) {
       padding: 60px 0;
      }
}

.title {
    max-width: 1920px;
    margin: auto;
    margin-top: 2em;
    padding: 3rem;

    h1,h2,h3 {
        max-width: 920px;
    }

    h2:after {
        content: " ";
    }

    @media (max-width: 818px) {  
        padding: 1.5rem;
    }
}

.arrowbefore:before {
    content: "\2190  ";
}

.arrowafter:after {
    content: "  \2192";
}

.arrowbefore:before, .arrowafter:after {
    font-family: var(--global-font-secondary);
    font-weight: 900;
}

.home.title { 
    h2, .home.link {
        text-align: center;
    }
}


// .title > h2:after {
//     content: " ";
// }


footer {
    background-color: var(--background-color-footer);
    font-size: .8em;
    font-size: 14px;
    
    padding: 2rem 3rem;
    width: 100%;
    margin-top: 2em;
    border-top: 1px solid var(--light-grey);

    p {
        font-family: var(--global-font-primary);
    }

    a {
        margin: 0 1em;
    }

    .footer-links {
        p {
            margin-left: 1em;
        }
    }

    @media (max-width: 818px) {
        padding: 1rem 1.5rem;

        flex-flow: row wrap;
        flex-basis: 50%;
          
      }
}



.hide {
    display: none;
}