* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #1b1c1e;
    //--black: #121212;
    --cyan: royalblue;
    --magenta: hotpink;
    --yellow: orange;
    --offwhite: #fcedd8;
    --dark-grey: #525252;
    --light-grey: #f8f6fa;
    --accent: #707070; 
    --background-color-primary: #fff;
    --background-color-secondary: #fff;
    --background-color-footer: #fff;
    --link: #707070;
    --global-font-primary: 'Poppins', Helvetica, sans-serif;
    --global-font-secondary: -apple-system, system-ui;
}

html {
    background-color: var(--background-color-primary);
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
	pointer-events: auto;
    font-size: 14px;
}

body {
    font-family: var(--global-font-primary);
    color: var(--black);
}

h1 {
    font-size: 3rem;
    //font-size: 52px; 
}

h2 {
    font-size: 2.5rem;
    //font-size: 24px;
}

h3 {
    font-size: 2rem;
    //font-size: 14px;
}

p {
    font-family: var(--global-font-secondary);
    line-height: 1.5;
    //max-width: 960px;
}

a {
    cursor: pointer;
    color: var(--accent);
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.5s;

    &:hover {
        color: var(--black);
    }
}

p, li {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none;
}

img {
    object-fit: cover;
    width: 100%;
}

section {
    position: relative;
    width: 100%;
    padding: 0 3rem;
    background-color: var(--background-color-secondary);
    line-height: 1.5em;

    .section-inner {
        max-width: 1920px;
        margin: 2rem auto;
    }

    @media ( max-width: 768px) {
        padding: 1em 0;

        .section-inner {
            margin: 0;
        }

        .portfolio {
            padding: 0;
        }
      }
      
}


.biggy {
    font-size: 4.5rem;
    font-size: 4em;
    line-height: 1.25em;

    @media (max-width: 768px) {
        font-size: 3rem;
    }
}


.accent {
    color: var(--accent);
}

.blackbg {
    background-color: var(--black);

    h1,h2,h3,h4,h5,h6,a,p {
        color: var(--offwhite);
    }
}

.yellowbg {
    background-color: var(--yellow);
}

.magbg {
    background-color: var(--magenta);
}

.cyanbg {
    background-color: var(--cyan);
}

.offwhitebg {
    background-color: var(--offwhite);
}

.normalbg {
    background-color: var(--background-color-primary);
    
    a,p {
        color: var(--black);
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.justify-between {
    justify-content: space-between;

    @media (max-width: 425px) {
        justify-content: auto;
    }
}

.justify-center {
    justify-content: center;
    text-align: center;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
}


.link {
    margin: 0 auto;
    padding: 1em 0;
    font-size: 1.25rem;
}

.full {
    height: 100vh;

    @media (max-width: 768px) {
        height: auto;
    }
}

.strong {
    font-weight: 600;
}

.thin {
    font-weight: 500;
}

.title {
    width: 100%;
    padding: 0 3rem;
    padding-top: 5rem;

    h1,h2,h3,.link {
        margin: auto;
        max-width: 1920px;
    }

    h2:after {
        content: " ";
    }

    @media (max-width: 768px) {  
        padding: 1.5rem;
        padding-top: 3rem;
    }
}

.arrowbefore:before {
    content: "\2190  ";
}

.arrowafter:after {
    content: "  \2192";
}

.arrowdown:after {
    content: "\2193";
}

.arrowbefore:before, .arrowafter:after {
    font-family: var(--global-font-secondary);
    font-weight: 900;
}




footer {
    margin-top: 1em;
    width: 100%;
    
    .global-footer,.icons,.contact,.nocookies {
        padding: 1rem;
        border-top: 1px solid var(--black);
        //filter: drop-shadow(0 15px 20px var(--black));

    }

    .global-footer-container,.follow-container,.contact-container {
        width: 75vw;
        max-width: 1920px;
        margin: 0 auto;
    }
  
    a, p {
        font-family: var(--global-font-primary);
        color: var(--black);
        letter-spacing: 1px;
        text-transform: capitalize;
    }
  
    .global-footer-container {
        flex-wrap: nowrap;
        min-height: 250px;
        text-align: left;

        .site-title {
            font-size: 1.5rem;
            font-family: var(--global-font-primary);
            font-weight: 600;
        }

        .site-title,.footer-links {
            margin: 1rem 0;
            margin-right: 1em;

            a {
                text-transform: uppercase;
                margin-right: 1em;

                &:hover {
                    color: var(--magenta);
                }
            }
        }

        p {
            font-family: var(--global-font-secondary);
            text-transform: none;
        }
        
        @media (max-width: 768px) { 
            padding: 1rem;
            flex-flow: column wrap;
        }
    } 
  
    @media (max-width: 768px) {
        font-size: 16px;
        justify-content: center;
        text-align: center;



        .global-footer-container,.icons,.follow-container,.contact-container,.nocookies,.social-container,div {
            flex-direction: column;
            padding: 1.5rem .5rem;
            width: 100%;
        }

        .global-footer-container > div:first-of-type {
            order: 2;
        }

        .footer-links > a {
            width: 100%;
            display: block;
            padding-top: .5em;
        }
    }
}


.hide {
    display: none;
}