footer {
    padding: 0;
}
.willowlayland {
    h1 {
       font-size: 15vmin; 
       font-weight: 700; 
        text-transform: uppercase;
       line-height: .85; 
    //    margin-top: -.8em; //same as line
       z-index: 7; 

       span {
            text-transform: none; font-weight: 300;
       }
    }

    @media (max-width: 768px) { 
        position: relative;
        height: unset;
    }
}

img {
    position: relative;  
    // bottom: 1rem; 
    z-index: 0;
    width: 25%;
    margin-left: -50%;
    // margin-bottom: -200px;
}
