@media (max-width: 768px) {
    body {
        background-color: var(--yellow);
    }
}

// *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_* 

// LANDING SECTION

// *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_* 

header, .name {
    min-height: 90vh;
    transition: all .5s;
    --webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    --webkit-filter: blur(0);

    @media screen and (max-width: 768px) {
        min-height: 80vh;
    }
}

.name {
    @media screen and (max-width: 768px) {
        -moz-transform: scale(1.2, 1.2);
        transform: scale(1.2,1.2);
    }
}

.willow,.layland,h1 {
    --webkit-transform: translateZ(0);
    transform: translateZ(0);
    --webkit-font-smoothing: antialiased;
}


.hero {
    background: var(--black);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-transform: uppercase;
    cursor: default;
    position: relative;
    overflow: hidden;

    &:after {
        content: ""; 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512%22%20height%3D%22512%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cfilter%20id%3D%22noise%22%3E%3CfeTurbulence%20type%3D%22fractalNoise%22%20baseFrequency%3D%220.875%22%20result%3D%22noise%22%20%2F%3E%3CfeColorMatrix%20type%3D%22matrix%22%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.5%200%22%20%2F%3E%3C%2Ffilter%3E%3Crect%20filter%3D%22url%28%23noise%29%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22512%22%20height%3D%22512%22%20fill%3D%22transparent%22%20opacity%3D%221%22%20%2F%3E%3C%2Fsvg%3E);
        background-size: 25vw, auto, cover;
        background-position: center, 0% 0%, center;
        background-repeat: repeat, repeat, repeat;
        //opacity: .5;
        //mix-blend-mode: soft-light;
        mix-blend-mode: overlay;
    }
}

@function textShadow($precision, $size, $color){
    $value: null; 
    $offset: 0;
    $length: $size * (1 / $precision) - 1;

    @for $i from 0 through $length {
        $offset: $offset + $precision;
        $shadow: $offset + px $offset + px $color;
        $value: append($value, $shadow, comma);
    }
    @return $value;
}


h1,.subhead {
    will-change: transform, opacity, text-shadow;
}

h1 {
    color: var(--offwhite);
    font-size: 15vw;
    line-height: 1em;
    font-weight: 900;
    //text-shadow: textShadow(0.25, 15, royalblue), textShadow(0.25, 30, hotpink),textShadow(0.25, 45, orange);

    @media only screen and (max-width: 768px) {
        line-height: 3em;
    }

    .willow, .layland {
        display: block;
        animation-name: moveInRight, textShadow;
        animation-duration: 2s;
        -webkit-animation-timing-function: ease;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        

        @media (max-width: 768px) {
            font-size: 15vw;

            //font-size: 17.5vw;

            // font-size: 20vw;
        }
    }

    .willow {
        @media screen and (max-width: 768px) {
            margin-top: -1em;
        }
    }

    .layland {
        animation-name: moveInLeft, textShadow;

        @media screen and (max-width: 768px) {
            margin-top: -2em;
            margin-bottom: -1em;

            // margin-top: -1.5em;
            // margin-bottom: -.85em;
            
            // margin-top: -1.25em;
            // margin-bottom: -.75em;
        }
        
    }

    .yfix {
        transform: translateX(-5px);
        letter-spacing: -3vw;
    }
}

@keyframes moveInLeft {
    0% {
        transform: translateX(-100%);
    }

    80% {
        transform: translate(0);
        //text-shadow: none;
        //text-shadow: textShadow(0.1, 1, var(--cyan)), textShadow(0.1, 2, var(--magenta)),textShadow(0.1, 3, var(--yellow));
    }

    100% {
        transform: skew(-10deg, -5deg);
        //text-shadow: textShadow(0.25, 15, var(--cyan)), textShadow(0.25, 30, var(--magenta)),textShadow(0.25, 45, var(--yellow));
    }
}

@keyframes moveInRight {
    0% {
        transform: translateX(100%);
    }

    80% {
        transform: translate(0);
        //text-shadow: none;
        //text-shadow: textShadow(0.1, 1, var(--cyan)), textShadow(0.1, 2, var(--magenta)),textShadow(0.1, 3, var(--yellow));
    }

    100% {
        transform: skew(-10deg, -5deg);
        //text-shadow: textShadow(0.25, 15, var(--cyan)), textShadow(0.25, 30, var(--magenta)),textShadow(0.25, 45, var(--yellow));
    }
}

@keyframes textShadow {
    0% {
        text-shadow: none;
    }

    80% {
        text-shadow: none;
        //text-shadow: textShadow(0.1, 1, var(--cyan)), textShadow(0.1, 2, var(--magenta)),textShadow(0.1, 3, var(--yellow));
    }

    100% {
        text-shadow: textShadow(0.25, 15, var(--cyan)), textShadow(0.25, 30, var(--magenta)),textShadow(0.25, 45, var(--yellow));
    }
}

.subhead {
    display: block;
    animation-name: moveFade;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.arrowdown:after {
    color: var(--offwhite);
    opacity: 0;
    animation-name: moveFade;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes moveFade {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.subhead, .scrolltext  {
    color: var(--offwhite);
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .5vw;
    padding: 1em;
}

.scrolltext {
    color: var(--dark-grey);
    white-space: nowrap;
}

@keyframes scrollleft {
    0% {
        transform: translate(50%, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

@keyframes scrollright {
    0% {
        transform: translate(-50%, 0);
        @media (max-width: 768px) {
            transform: translate(-150%, 0);
        }
    }
    100% {
        transform: translate(100%, 0);
    }
}
.scrollleft {
    animation: scrollleft 60s linear infinite;
}
.scrollright {
    animation: scrollright 60s linear infinite;
}


.margin-extra {
    margin: 2.5rem 0;
}


// *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_* 

// INTRODUCTION SECTION PORTFOLIO FEATURED WORKS

// *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_* 


// .homepage {
//     //max-width: 80rem;
//     padding: 0 10rem;
//     margin: 0 auto;

//     @media (max-width:768px) {
//         padding: 0;
//     }
// }


.big-section {
    padding: 6rem 0;
    max-width:  1920px;

    h2 {
        margin: auto 0;
        font-size: 2.5em;
        line-height: 1.25em;
        width: 66vw;
    }

    @media (max-width:768px) {
        padding: 2rem 1rem;

        h2 {
            width: 100%;
        }
    }
}

.learnmore {
    margin: 1rem 0;
    font-weight: 500;
    align-self: flex-end;
    
    a {
        color: var(--accent);

        &:hover {
            color: var(--black);
        }
    }
}

.portfolio-container {
    @media (max-width:768px) {
        padding: 0 1rem;

        .title {
            padding: 0;
        }
    }
}

.portfolio-item {
    &:nth-child(1) {
        background-image:url('https://karenworks.biz/wp-content/uploads/2021/03/kwhero_image.jpg');
        //background-image: url('https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    //background-image: url('https://images.unsplash.com/photo-1512950050685-b1d4ae63d2df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80');
    }
    &:nth-child(2) {
        background-image:url('https://source.unsplash.com/featured/?grey,wood');
        background-image:url("../images/canndanswer.jpg");
    }
    &:nth-child(3) {
        background-image:url('https://source.unsplash.com/featured/?silver,plant');
    }
}

.testing {
    margin: 3rem 0;

    &:after {
        content: " a cool thing. idk. arrow";
    }
}

// *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_* 

// FANCY HOMEPAGE FOOTER. wip

// *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_* 

footer {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    width: 100%;
    
    
    
    .global-footer,.icons,.contact,.nocookies {
        padding: 1rem;
    }

    .global-footer-container,.contact-container {
        width: 75vw;
        max-width: 1920px;
        max-width: 45rem;
        margin: 0 auto;
    }
  
    a, p {
        font-family: var(--global-font-primary);
        color: var(--black);
        letter-spacing: 1px;
        text-transform: capitalize;
    }
    
    .follow-container {
        //max-width: 720px;
        //max-width: 45rem;

        a {
            text-transform: uppercase;
            font-weight: 800;
            
            &:hover {
                color: var(--yellow);
            }
        }
    }
    
    // .contact-container {
    //     //width: 720px;
    //     //max-width: 45rem;
    // }

    .social-container > a {
        font-weight: 500;
    }

    .footer-button,.nocookies {
        font-size: .9em;
    }

    .fa  {
        font-size: 1.25em;
        color: var(--black);
    } 

    @media (min-width: 768px) {

        
        .icons,.contact,.nocookies {
            transition: .5s all;
            //border-top: .5px solid var(--offwhite);

            &:not(:hover) {
                background-color: var(--black);
                

                a,p {
                    color: var(--offwhite);
                }
            }
        }

        .footer-button {
            width: 7.25em;
            padding: .75rem;
            //margin: 2em 0;
            background-color: var(--offwhite);
            color: var(--black);
            border: 1px solid var(--offwhite);
            text-transform: uppercase;
        
            &:hover {
                background-color: var(--magenta);
            }
        }

        div:nth-of-type(2) { 
            order: -1; 
            border-bottom: .5px solid var(--offwhite);
        }


        .follow-container > a {
            color: var(--offwhite);
            
        }

        // .contact-container > p, .social-container {
        //     margin: 2em 0;
        // }

        .social-container {
            width: 60%;
        }

        .nocookies {
            margin: 0 auto;
            padding: 1em 0;
            width: 45rem;
        }

        // .nocookies > p:nth-of-type(1) {
        //     margin: 0 auto;
        //     width: 45rem;
        //     text-align: right;
        // }

        // .nocookies > p:nth-of-type(2) {
        //     align-self: flex-end;
        //     display: none;
        // }

        // .nocookies > p:nth-of-type(3) {
        //     align-self: flex-end;
        //     display: none;
        // }

        // .nocookies > p:nth-of-type(3) {
        //     &:before {
        //         content: "NO COOKIES! ";
        //     }
        // }
    }
      
  
    @media (max-width: 768px) {
        font-size: 16px;
        justify-content: center;
        text-align: center;

        .global-footer-container,.icons,.follow-container,.contact-container,.nocookies,.social-container,div {
            flex-direction: column;
            //padding: 1.5rem .5rem;
            width: 100%;
        }

        .global-footer-container > div:first-of-type {
            order: 2;
        }

        .footer-links > a {
            width: 100%;
            display: block;
            padding-top: .5em;
        }


        .follow-container,.social-container {
            padding: 0;
            justify-content: center;

            a {
               padding: 0 1rem;
            }
        }

        .follow-container {
            flex-direction: row;
        }

        .contact-container {
            padding: 1rem 0;
        }

        .social-container {
            margin-top: 1rem;
        }
    }
}

footer {
    height: 50vh;
    background-color: var(--black);
    //background-color: var(--background-color-footer);
    justify-content: space-between;
    padding: 0;
    margin: 0;
    padding-bottom: 3rem;

    .global-footer-container {
        max-width: 45rem;

        .site-title {
            font-weight: 500;
            font-size: 2em;
        }
    }

    .footer-button {
        width: 7.25em;
        padding: .75rem;
        margin: 2em 0;
        // background-color: var(--offwhite);
        // color: var(--black);
        // border: 1px solid white;
        text-transform: uppercase;
    
        &:hover {
            background-color: var(--magenta);
        }
    }

    .global-footer-container > div:first-of-type {
        order: 0;
    }
}