header, .name {
    min-height: 90vh;
    transition: all .5s;
    backface-visibility: hidden;
    --webkit-filter: blur(0);
}


.hero {
    background: var(--black);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-transform: uppercase;
    cursor: default;
    position: relative;
    overflow: hidden;

    &:after {
        content: ""; 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512%22%20height%3D%22512%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cfilter%20id%3D%22noise%22%3E%3CfeTurbulence%20type%3D%22fractalNoise%22%20baseFrequency%3D%220.875%22%20result%3D%22noise%22%20%2F%3E%3CfeColorMatrix%20type%3D%22matrix%22%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.5%200%22%20%2F%3E%3C%2Ffilter%3E%3Crect%20filter%3D%22url%28%23noise%29%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22512%22%20height%3D%22512%22%20fill%3D%22transparent%22%20opacity%3D%221%22%20%2F%3E%3C%2Fsvg%3E);
        background-size: 512px, auto, cover;
        background-position: center, 0% 0%, center;
        background-repeat: repeat, repeat, repeat;
        //opacity: .5;
        mix-blend-mode: soft-light;
        //mix-blend-mode: overlay;
    }
}

@function textShadow($precision, $size, $color){
    $value: null; 
    $offset: 0;
    $length: $size * (1 / $precision) - 1;

    @for $i from 0 through $length {
        $offset: $offset + $precision;
        $shadow: $offset + px $offset + px $color;
        $value: append($value, $shadow, comma);
    }
    @return $value;
}


  
h1,.subhead {
    will-change: transform, opacity;
}

h1 {
    color: var(--offwhite);
    font-size: 15vw;
    line-height: 1em;
    font-weight: 900;
    //text-shadow: textShadow(0.25, 15, royalblue), textShadow(0.25, 30, hotpink),textShadow(0.25, 45, orange);
    //backface-visibility: hidden;
    //transition: all .25s ease;

    @media only screen and (max-width: 768px) {
        line-height: 3em;
    }

    .willow, .layland {
        display: block;
        animation-name: moveInRight;
        animation-duration: 2s;
        -webkit-animation-timing-function: ease;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        

        @media (max-width: 768px) {
            font-size: 20vw;
        }
    }

    .willow{
        @media screen and (max-width: 768px) {
            margin-top: -1em;
        }
    }

    .layland {
        animation-name: moveInLeft;

        @media screen and (max-width: 768px) {
            margin-top: -2em;
            margin-top: -1.25em;
            
            margin-bottom: -1em;
            margin-bottom: -.75em;
        }
        
    }

    .yfix {
        transform: translateX(-5px);
        letter-spacing: -3vw;
    }
}

@keyframes moveInLeft {
    0% {
        transform: translateX(-100%);
    }

    80% {
        //opacity: 1;
        transform: translate(0);
        text-shadow: none;
    }

    100% {
        transform: skew(-10deg, -5deg);
        text-shadow: textShadow(0.25, 15, var(--cyan)), textShadow(0.25, 30, var(--magenta)),textShadow(0.25, 45, var(--yellow));
    }
}

@keyframes moveInRight {
    0% {
        //opacity: 0;
        transform: translateX(100%);
    }

    80% {
        opacity: 1;
        transform: translate(0);
        text-shadow: none;
    }

    100% {
        transform: skew(-10deg, -5deg);
        text-shadow: textShadow(0.25, 15, var(--cyan)), textShadow(0.25, 30, var(--magenta)),textShadow(0.25, 45, var(--yellow));
    }
}

.subhead {
    display: block;
    animation-name: moveFade;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.arrowdown:after {
    color: var(--offwhite);
    opacity: 0;
    animation-name: moveFade;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes moveFade {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.subhead, .scrolltext  {
    color: var(--offwhite);
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .5vw;
    padding: 1em;
    //overflow: hidden;
}

.scrolltext {
    color: var(--dark-grey);
}

@keyframes scrollleft {
    0% {
        transform: translate(100%, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

@keyframes scrollright {
    0% {
        transform: translate(-100%, 0);
    }
    100% {
        transform: translate(100%, 0);
    }
}
.scrollleft {
    animation: scrollleft 65s linear infinite;
}
.scrollright {
    animation: scrollright 65s linear infinite;
}
.scrollleft, .scrollright {
    white-space: nowrap;
}

.margin-extra {
    margin: 2.5rem 0;
}



// .hero {
//     color: var(--light-grey);
//     background-color: black;
//     min-height: 140vh;

//     h1 {
//         font-size: 25.5vw;
//         font-weight: 500;
//         text-transform: uppercase;
//         font-family: "Double Bass", sans-serif;
//         // font-family: "Anton"; 
//     }

//     p {
//         text-align: right;
//         padding: 6vmin;
//     }
// }



.title {
    padding: 5rem 0;

    h2 {
        font-size: 2.5em;
        line-height: 1.25em;
        width: 66vw;
    }

    @media (max-width:768px) {
        padding: 3rem 1rem;

        h2 {
            width: 100%;
        }
    }
}

.portfolio-container {
    @media (max-width:768px) {
        padding: 0 1rem;

        .title {
            padding: 0;
        }
    }
}
    
.learnmore {
    margin: 1rem 0;
    font-weight: 500;
    align-self: flex-end;
    
}

.portfolio-item {

    &:nth-child(1) {
        background-image:url('https://karenworks.biz/wp-content/uploads/2021/03/kwhero_image.jpg');
    }
    &:nth-child(2) {
        background-image:url('https://source.unsplash.com/featured/?grey,wood');
    }
    &:nth-child(3) {
        background-image:url('https://source.unsplash.com/featured/?silver,plant');
    }


    @media (max-width: 768px) {
        flex-direction: column;
        min-width: 100%;
        height: 50vh;
        margin: 2rem 0;
    }
}

.portfolio-item:after {
    content: "title";
    display: block;
}

footer {
    justify-content: space-between;
    padding: 0;

    .global-footer-container {
        //padding: 3rem 0;
        //max-width: auto;
        max-width: 520px;

        .site-title {
            font-weight: 500;
            font-size: 2em;
            //font-weight: 700;
            //text-transform: uppercase;
            //font-size: 1.25em;
        }

        // .footer-links {
        //     a {
        //         font-weight: 800;
        //         //letter-spacing: 2px;
        //         // color: var(--magenta);

        //         // &:hover {
        //         //     color: var(--offwhite);
        //         // }
        //     }
        // }
    }

    .global-footer-container > div:first-of-type {
        order: 0;
    }
}

