@media (max-width: 768px) {
    body {
        background-color: var(--black);
    }
}

// *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_* 

// LANDING SECTION

// *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_* 

header, .name {
    min-height: 87.5vh;
    transition: all .5s;
    --webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    --webkit-filter: blur(0);

    @media screen and (max-width: 768px) {
        min-height: 75vh;
    }
}

.name {
    @media screen and (max-width: 768px) {
        -moz-transform: scale(1.35, 1.35);
        transform: scale(1.35,1.35);

        .subhead {
            -moz-transform: scale(.7, .7);
            transform: scale(.7,.7);
        }
    }
}

.willow,.layland,h1 {
    --webkit-transform: translateZ(0);
    transform: translateZ(0);
    --webkit-font-smoothing: antialiased;
}


.hero {
    background: var(--black);
    font-family: var(--global-font-primary);
    text-align: center;
    text-transform: uppercase;
    cursor: default;
    position: relative;
    overflow: hidden;

    &:after {
        content: ""; 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512%22%20height%3D%22512%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cfilter%20id%3D%22noise%22%3E%3CfeTurbulence%20type%3D%22fractalNoise%22%20baseFrequency%3D%220.875%22%20result%3D%22noise%22%20%2F%3E%3CfeColorMatrix%20type%3D%22matrix%22%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.5%200%22%20%2F%3E%3C%2Ffilter%3E%3Crect%20filter%3D%22url%28%23noise%29%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22512%22%20height%3D%22512%22%20fill%3D%22transparent%22%20opacity%3D%221%22%20%2F%3E%3C%2Fsvg%3E);
        background-size: 25vw, auto, cover;
        background-position: center, 0% 0%, center;
        background-repeat: repeat, repeat, repeat;
        //opacity: .5;
        mix-blend-mode: soft-light;
        //mix-blend-mode: overlay;
    }
}

@function textShadow($precision, $size, $color){
    $value: null; 
    $offset: 0;
    $length: $size * (1 / $precision) - 1;

    @for $i from 0 through $length {
        $offset: $offset + $precision;
        $shadow: $offset + px $offset + px $color;
        $value: append($value, $shadow, comma);
    }
    @return $value;
}


// h1,.subhead {
//     will-change: transform, opacity, text-shadow;
// }

h1 {
    color: var(--offwhite);
    font-size: 15vw;
    line-height: 1em;
    font-weight: 900;
    //text-shadow: textShadow(0.25, 15, royalblue), textShadow(0.25, 30, hotpink),textShadow(0.25, 45, orange);

    @media only screen and (max-width: 768px) {
        line-height: 3em;
    }

    .willow, .layland {
        display: block;
        animation-name: moveInRight, textShadow;
        animation-duration: 2s;
        -webkit-animation-timing-function: ease;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        

        @media (max-width: 768px) {
            font-size: 15vw;

            //font-size: 17.5vw;

            // font-size: 20vw;
        }
    }

    .layland {
        animation-name: moveInLeft, textShadow;

        @media screen and (max-width: 768px) {
            margin-top: -2em;
            margin-bottom: -1em;

            // margin-top: -1.5em;
            // margin-bottom: -.85em;
            
            // margin-top: -1.25em;
            // margin-bottom: -.75em;
        }
        
    }

    .yfix {
        transform: translateX(-5px);
        letter-spacing: -3vw;
    }
}

@keyframes moveInLeft {
    0% {
        transform: translateX(-100%);
    }

    80% {
        transform: translate(0);
        //text-shadow: none;
        //text-shadow: textShadow(0.1, 1, var(--cyan)), textShadow(0.1, 2, var(--magenta)),textShadow(0.1, 3, var(--yellow));
    }

    100% {
        transform: skew(-10deg, -5deg);
        //text-shadow: textShadow(0.25, 15, var(--cyan)), textShadow(0.25, 30, var(--magenta)),textShadow(0.25, 45, var(--yellow));
    }
}

@keyframes moveInRight {
    0% {
        transform: translateX(100%);
    }

    80% {
        transform: translate(0);
        //text-shadow: none;
        //text-shadow: textShadow(0.1, 1, var(--cyan)), textShadow(0.1, 2, var(--magenta)),textShadow(0.1, 3, var(--yellow));
    }

    100% {
        transform: skew(-10deg, -5deg);
        //text-shadow: textShadow(0.25, 15, var(--cyan)), textShadow(0.25, 30, var(--magenta)),textShadow(0.25, 45, var(--yellow));
    }
}

@keyframes textShadow {
    0% {
        text-shadow: none;
    }

    80% {
        text-shadow: none;
        //text-shadow: textShadow(0.1, 1, var(--cyan)), textShadow(0.1, 2, var(--magenta)),textShadow(0.1, 3, var(--yellow));
    }

    100% {
        text-shadow: textShadow(0.25, 15, var(--cyan)), textShadow(0.25, 30, var(--magenta)),textShadow(0.25, 45, var(--yellow));
    }
}

.subhead {
    display: block;
    animation-name: moveFade;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.star {
    position: absolute;
    opacity: 0;
    animation-name: moveFade;
    animation-duration: 5s;
    //animation-delay: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

    &:after {
        color: var(--offwhite);
        content: "\2727";
    }

    &:nth-of-type(1) {
        font-size: 2em; 
        top: 55%;
        left: 5%;
    }

    &:nth-of-type(2) {
        font-size: 1em; 
        top: 10%;
        left: 20%;
    }

    &:nth-of-type(3) {
        font-size: 3em; 
        top: 25%;
        left: 90%;
    }

    &:nth-of-type(4) {
        font-size: 1em; 
        top: 80%;
        left: 85%;
    }

    &:nth-of-type(5) {
        font-size: 1em; 
        top: 40%;
        left: 90%;
    }

    @media (max-width: 768px) {
        display: none;
    }
}

.arrowdown:after {
    color: var(--offwhite);
    opacity: 0;
    animation-name: moveFade;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes moveFade {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.subhead, .scrolltext  {
    color: var(--offwhite);
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .5vw;
    padding: 1em;
}

.scrolltext {
    color: var(--dark-grey);
    white-space: nowrap;
}

@keyframes scrollleft {
    0% {
        transform: translate(15%, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

@keyframes scrollright {
    0% {
        transform: translate(-10%, 0);
    }
    100% {
        transform: translate(100%, 0);
    }
}
.scrollleft {
    animation: scrollleft 60s linear infinite, moveFade 4s;
} 
.scrollright {
    animation: scrollright 60s linear infinite, moveFade 4s;
    float: right;
}

.margin-extra {
    margin: 2.5rem 0;
}


// *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_* 

// INTRODUCTION SECTION PORTFOLIO FEATURED WORKS

// *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_* 


// .homepage {
//     //max-width: 80rem;
//     padding: 0 10rem;
//     margin: 0 auto;

//     @media (max-width:768px) {
//         padding: 0;
//     }
// }


.big-section {
    padding: 6rem 0;
    max-width:  1920px;

    h2 {
        margin: auto 0;
        font-size: 2.5em;
        line-height: 1.25em;
        width: 66vw;
    }

    @media (max-width:768px) {
        padding: 2rem 1rem;

        h2 {
            width: 100%;
        }
    }
}

.learnmore {
    margin: 1rem 0;
    font-weight: 500;
    align-self: flex-end;
    
    a {
        color: var(--accent);

        &:hover {
            color: var(--black);
        }
    }
}

.featured-item {
    //transition: .5s !important; //can put this back later
    padding: 2em;
    overflow-x: hidden;

    &:nth-child(1) {
        background-image:url('https://karenworks.biz/wp-content/uploads/2021/03/kwhero_image.jpg');
        //background-image: url('https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
        //background-image: url('https://images.unsplash.com/photo-1512950050685-b1d4ae63d2df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80');
        height: 90vh;
        overflow-x: hidden;
    }
    &:nth-child(2) {
        background-image:url('https://source.unsplash.com/featured/?grey,wood');
        background-image:url("../images/grey.png");
        height: 90vh;
        margin-top: 25vh;
        overflow-x: hidden;
    }
    &:nth-child(3) {
        background-image:url('https://source.unsplash.com/featured/?silver,plant');
    }
}

#recent {
    background-color: white;
}





// *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_* 

// FANCY HOMEPAGE FOOTER

// *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_* 

#home-footer,footer,.footer {
    margin-top: 0;
    //min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--black);
    color: var(--offwhite);
    
    a, p {
        color: var(--offwhite);
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 0;
        margin: .5rem;
    }
    
    .main-navigation-container,.global-footer-container {
        padding: 1.25em 4em;
    }
    
    .main-navigation-container {
        border-bottom: 1px solid var(--dark-grey);
        
        a {
            font-weight: 900;
            font-weight: 500;
            letter-spacing: 2px;
        }
        
        a:hover {
            color: var(--magenta);
        }
    }
    
    // .circle {
    //   width: 10vmin;
    //   text-align: right;
    //   img {
    //     content: " ";
    //     display: inline;
    //     height: 3rem;
    //     width: 3rem;
    //     background-color: white;
    //   }
    // }
    
    .global-footer-container {
        width: 640px;
        margin: 0 auto;
      
        .site-title {
            font-weight: 500;
            font-size: 2rem;
        }
    
        p {
            line-height: 1.75;
            font-weight: 300;
        }
    
        .outline-button {
        //     padding: 2rem 0;
        //     border: 1px solid var(--dark-grey);
            margin: 0;
            margin-top: 2em;
            flex-grow: 0;
        //     text-align: center;
            
        //     &:hover {
        //     background: var(--cyan);
        //     }
        }
    }
    
    .socials-container {
        padding: 2em;
        
        .copyright {
            margin: 1em;
        }
        
        .social-links {
            align-self: flex-end;
        
            p {
            color: var(--dark-grey);
            }
    
            a,p{
            text-transform: uppercase;
            font-weight: 500;
            margin: 1em;
            }
            
            a:hover {
            color: var(--yellow);
            }
        }
    }
    
    @media (min-width: 768px) {
        .global-footer-container {
            min-height: 500px;
        }

        .outline-button,.social-links,.copyright {
            font-size: .9rem;
        }
    }
    
    @media (max-width: 768px) {
        text-align: center;
        font-size: 14px;
        
        .main-navigation-container {
            padding: .5em;
    
            ul {
                padding-bottom: 1.5em;
        
                li {
                    padding: 1em .5em;
                }
            }
        }
  
        .global-footer-container,.socials-container,.social-links,div {
            width: 100%;
        }
    
        .global-footer-container,.social-links, .copyright {
            padding: 1em;
            justify-content: center;
        }
        
        .socials-container {
            border-top: 1px solid var(--dark-grey);
        }
    }
}