header, .name {
    min-height: 90vh;
    transition: all .25s;
    backface-visibility: hidden;
    --webkit-filter: blur(0);

    @media (min-width: 768px) {
        h1 {
            font-size: 20vmin;
        }
    }
}


.hero {
    background: var(--black);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-transform: uppercase;
    cursor: default;
    position: relative;
    overflow: hidden;

    &:after {
        content: ""; 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512%22%20height%3D%22512%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cfilter%20id%3D%22noise%22%3E%3CfeTurbulence%20type%3D%22fractalNoise%22%20baseFrequency%3D%220.875%22%20result%3D%22noise%22%20%2F%3E%3CfeColorMatrix%20type%3D%22matrix%22%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.5%200%22%20%2F%3E%3C%2Ffilter%3E%3Crect%20filter%3D%22url%28%23noise%29%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22512%22%20height%3D%22512%22%20fill%3D%22transparent%22%20opacity%3D%221%22%20%2F%3E%3C%2Fsvg%3E);
        background-size: 512px, auto, cover;
        background-position: center, 0% 0%, center;
        background-repeat: repeat, repeat, repeat;
        //opacity: .5;
        mix-blend-mode: soft-light;
        //mix-blend-mode: overlay;
    }
}

@function textShadow($precision, $size, $color){
    $value: null; 
    $offset: 0;
    $length: $size * (1 / $precision) - 1;

    @for $i from 0 through $length {
        $offset: $offset + $precision;
        $shadow: $offset + px $offset + px $color;
        $value: append($value, $shadow, comma);
    }
    @return $value;
}


  
h1,.subhead {
    will-change: transform, opacity;
}

h1 {
    color: var(--offwhite);
    font-size: 15vw;
    line-height: 1;
    font-weight: 900;
    //text-shadow: textShadow(0.25, 15, royalblue), textShadow(0.25, 30, hotpink),textShadow(0.25, 45, orange);
    //backface-visibility: hidden;
    //transition: all .25s ease;

    .willow, .layland {
        display: block;
        animation-name: moveInRight;
        animation-duration: 2s;
        -webkit-animation-timing-function: ease;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }

    .layland {
        animation-name: moveInLeft;
    }

    .yfix {
        transform: translateX(-5px);
        letter-spacing: -3vw;
    }
}

@keyframes moveInLeft {
    0% {
        transform: translateX(-100%);
    }

    80% {
        //opacity: 1;
        transform: translate(0);
        text-shadow: none;
    }

    100% {
        text-shadow: textShadow(0.25, 15, royalblue), textShadow(0.25, 30, hotpink),textShadow(0.25, 45, orange);
        transform: skew(-10deg, -5deg);
    }
}

@keyframes moveInRight {
    0% {
        //opacity: 0;
        transform: translateX(100%);
    }

    80% {
        opacity: 1;
        transform: translate(0);
        text-shadow: none;
    }

    100% {
        text-shadow: textShadow(0.25, 15, var(--cyan)), textShadow(0.25, 30, var(--magenta)),textShadow(0.25, 45, var(--yellow));
        transform: skew(-10deg, -5deg);
    }
}

.subhead {
    display: block;
    animation-name: moveFade;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.arrowdown:after {
    content: "\2193";
    color: var(--offwhite);
    opacity: 0;
    animation-name: moveFade;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes moveFade {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.subhead, .scrolltext  {
    color: var(--offwhite);
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .5vw;
    padding: 1em;
    overflow: hidden;
}

.scrolltext {
    color: var(--dark-grey);
}

@keyframes scrollleft {
    0% {
        transform: translate(100%, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

@keyframes scrollright {
    0% {
        transform: translate(-100%, 0);
    }
    100% {
        transform: translate(100%, 0);
    }
}
.scrollleft {
    animation: scrollleft 65s linear infinite;
}
.scrollright {
    animation: scrollright 65s linear infinite;
}
.scrollleft, .scrollright {
    white-space: nowrap;
}

.margin-extra {
    margin: 2.5rem 0;
}



// .hero {
//     color: var(--light-grey);
//     background-color: black;
//     min-height: 140vh;

//     h1 {
//         font-size: 25.5vw;
//         font-weight: 500;
//         text-transform: uppercase;
//         font-family: "Double Bass", sans-serif;
//         // font-family: "Anton"; 
//     }

//     p {
//         text-align: right;
//         padding: 6vmin;
//     }
// }


.title {
    margin-top: 0;
    padding-top: 5rem;
}

.learnmore {
    margin: 1rem 0;
    font-weight: 500;
    align-self: flex-end;
    padding-right: 2rem;
}


// .follow {
//     margin: 2rem 3rem;
//     color: var(--black);
//     //background-color: var(--light-grey);

//     .title {
//         margin-top: auto;
//     }

//     .arrowafter {
//         color: transparent;
//         transition: all 0.5s;
//         transform: translate(-16px, 0);
//         line-height: 1.15;

//         @media (max-width: 768px) { 
//             display: none;
//         }
        
//     }

//     &:hover {
//         .arrowafter {
//             color: var(--black);
//             transform: translate(16px, 0);
//         }
//     }

//     .follow-links {
//         font-size: 2rem;
//         align-content: right;
//         text-align: right;
    
//         .fa-stack {
//             .fa-stack-2x {
//                 color: var(--black);
//             }
    
//             .fa-stack-1x {
//                 color: var(--light-grey);
//                 transform: scale(.8);
    
//                 &:hover {
//                     transform: scale(1);
//                 }
//             }
//         }

//         .link {
//             margin-left: 1em;
//         }
//     }

//     @media (max-width: 768px) { 
//         margin: 1rem 1.5rem;

//         .biggy {
//             line-height: 1.5;
//         }
//     }

//     @media (max-width: 425px) { 
        
//         .title, .follow-links {
//             flex-direction: column;
//             text-align: center;
//         }

//         .follow-links {
//             font-size: 50%;
//         }

//         .link {
            
//                 padding: 0;
            
//         }
//     }
// }