.hero {
    color: var(--light-grey);
    background-color: black;
    min-height: 140vh;

    h1 {
        font-size: 25.5vw;
        font-weight: 500;
        text-transform: uppercase;
        font-family: "Double Bass", sans-serif;
        // font-family: "Anton"; 
    }

    p {
        text-align: right;
        padding: 6vmin;
    }
}


/* .min {
    font-size: 10vw;
    transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);

    display: inline-block;
} */


.learnmore {
    margin: 1rem 0;
    font-weight: 500;
    align-self: flex-end;
    padding-right: 2rem;
}


.follow {
    margin: 2rem 3rem;
    color: var(--black);
    background-color: var(--light-grey);

    .title {
        margin-top: auto;
    }

    .arrowafter {
        color: transparent;
        transition: all 0.5s;
        transform: translate(-16px, 0);
        line-height: 1.15;

        @media (max-width: 768px) { 
            display: none;
        }
        
    }

    &:hover {
        .arrowafter {
            color: var(--black);
            transform: translate(16px, 0);
        }
    }

    .follow-links {
        font-size: 2rem;
        align-content: right;
        text-align: right;
    
        .fa-stack {
            .fa-stack-2x {
                color: var(--black);
            }
    
            .fa-stack-1x {
                color: var(--light-grey);
                transform: scale(.8);
    
                &:hover {
                    transform: scale(1);
                }
            }
        }

        .link {
            margin-left: 1em;
        }
    }

    @media (max-width: 768px) { 
        margin: 1rem 1.5rem;

        .biggy {
            line-height: 1.5;
        }
    }

    @media (max-width: 425px) { 
        
        .title, .follow-links {
            flex-direction: column;
            text-align: center;
        }

        .follow-links {
            font-size: 50%;
        }

        .link {
            
                padding: 0;
            
        }
    }
}
