.portfolio {
    max-width: 1920px;
    margin: auto;
    //padding: 2rem 0;
    flex-wrap: wrap;
}

.portfolio-item {
    flex-grow: 1;
    //padding: 0 1rem 3rem 1rem;
    transition: all 0.5s;

    h3 {
        //font-size: 6vmin;
        font-size: 24px;
        margin: .5em 0;
        white-space: nowrap;
        transition: all 0.5s;
    }

    &:hover {
        cursor: pointer;
        //transform: translate(0, -8px);

        h3 {
            transform: translate(0, -8px);
        }

        img {
            display: block;
        }
    }
}

.threecolumn {
    .portfolio-item {
        width: 33.33%;

        @media( max-width: 970px) {
            width: 50%;
        }  
    }
}

.home-portfolio {
    .portfolio {
        //height: 100vh;
        
        //grid-template-rows: repeat(2, 1fr);
        .portfolio-item {
            &:before {
                display: block;
                content: "Featured work \2192";
                font-family: var(--global--font-secondary);
                font-family: -apple-system, system-ui;
                font-size: var(--global--font-size-base);
                font-weight: 400;
                line-height: var(--global--line-height-body);
                /* line-height: 2em; */
                transition: .25s all;
            }
        }

        .portfolio-item:hover {
            flex-grow: 20;
            padding-top: 0;
            color: var(--accent);

            .port-img {
                //height: 70vmin;
                height: auto;
            }

        }

        // .home2 {
        //     padding-top: 50px;
        //     padding-bottom: 50px;
        // }

        // .home3 {
        //     padding-top: 100px;
            
        // }

        @media( max-width: 768px), (max-height: 600px) {
            height: auto;

            .portfolio-item {
                padding-top: 0;
            }
            
        }   
    }
}

/* 
.portfolio-item:hover:before {
	padding-left: 2.5%;
} */

.port-img {
    height: 80vmin;
    overflow: hidden;
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    

    transition: all 0.5s;

    &:hover {
        //transform: translate(0, -8px);
        box-shadow: 0px 3px 6px var(--light-grey);
    }
}

.home4,.home5,.home6,.home7 {
    .port-img {
        height: 25vmin;
    }
}
