.row1 {

    a {

    &:nth-of-type(1) {
        background-image:url('https://karenworks.biz/wp-content/uploads/2021/03/kwhero_image.jpg');
    }
    &:nth-of-type(2) {
        background-image:url('https://source.unsplash.com/featured/?wood');
    }
    &:nth-of-type(3) {
        background-image:url('https://source.unsplash.com/featured/?silver');
    }

    &:nth-of-type(4) {
        background-image:url('https://source.unsplash.com/featured/?silver,plant');
    }
    }
}

.row2 {

    a {

    &:nth-of-type(1) {
        background-image:url('https://source.unsplash.com/featured/?plant');
    }
    &:nth-of-type(2) {
        background-image:url('https://source.unsplash.com/featured/?grey,wood');
    }
    &:nth-of-type(3) {
        background-image:url('https://source.unsplash.com/featured/?silver,plant');
    }

    &:nth-of-type(4) {
        background-image:url('https://source.unsplash.com/featured/?silver,plant');
    }
    }
}

.portfolio-item {
    overflow: hidden;
    //justify-content: space-around;
    color: white;

    p {
        opacity: 0;
        display: none;
        transition: 1s all;
    }

    &:hover {
        color: white;
        .huge {
            font-size: 6em;
            letter-spacing: 0;
        }
        
        p {
            opacity: 1;
            display: block;
        }
    }

    @media (max-width: 768px) {
        .huge {
            font-size: 15vmin;
            letter-spacing: 0;
        }
        
        p {
            opacity: 1;
            display: block;
        }
    }
}

.huge {
    font-size: 50vh;
    font-weight: 800;
    letter-spacing: -10px;
    line-height: 1;
    margin-left: -.15em;
    transition: 1s all ease-out;
}