// body{
//     &:before {
//       content: ""; 
//       position: absolute;
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 100%;
//       background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512%22%20height%3D%22512%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cfilter%20id%3D%22noise%22%3E%3CfeTurbulence%20type%3D%22fractalNoise%22%20baseFrequency%3D%220.875%22%20result%3D%22noise%22%20%2F%3E%3CfeColorMatrix%20type%3D%22matrix%22%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.5%200%22%20%2F%3E%3C%2Ffilter%3E%3Crect%20filter%3D%22url%28%23noise%29%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22512%22%20height%3D%22512%22%20fill%3D%22transparent%22%20opacity%3D%221%22%20%2F%3E%3C%2Fsvg%3E);
//       background-size: 25vw, auto, cover;
//       background-position: center, 0% 0%, center;
//       background-repeat: repeat, repeat, repeat;
//       opacity: .5;
//       mix-blend-mode: soft-light;
//   }
// }
.portfolio-page {
    justify-content: center;
}


.gallery-container,.section-inner {
  max-width: 1920px;

  .lightbox {
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    //max-height: 100vh; 
    //height: 1080px;
    margin: 5rem 0;
    padding: 2rem 0;
    transition: .5s all;
    

    &:first-child {
      margin-top: 0;
      //padding-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
    
    position: relative;

    .entry-container {
      margin: 0 auto;

      @media (min-width: 768px) {
        max-width: 75vmax; 
      }

      .entry-inner {
        border: none;
      }
    }

    img {
      background: black;
      transition: .5s all;
    }

    a {
      &:hover {
        
        opacity: 20%;

        &:after img {
          content: "view";
          position: absolute;
            //right: 20%;
        }
      }
    }
  }
}

.narrow {
  @media (min-width: 768px) {
    margin: 0 auto;
    text-align: center;

    img {
      width: 75vw; 
    }

    h1,h2,h3,h4,h5,h6,p,a {
      text-align: left;
    }
  }
}

.fuzz {
  padding: 0 !important;

  &:after {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512%22%20height%3D%22512%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cfilter%20id%3D%22noise%22%3E%3CfeTurbulence%20type%3D%22fractalNoise%22%20baseFrequency%3D%220.875%22%20result%3D%22noise%22%20%2F%3E%3CfeColorMatrix%20type%3D%22matrix%22%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.5%200%22%20%2F%3E%3C%2Ffilter%3E%3Crect%20filter%3D%22url%28%23noise%29%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22512%22%20height%3D%22512%22%20fill%3D%22transparent%22%20opacity%3D%221%22%20%2F%3E%3C%2Fsvg%3E);
    background-size: 512px, auto, cover;
    background-position: center, 0% 0%, center;
    background-repeat: repeat, repeat, repeat;
    opacity: .5;
    //mix-blend-mode: soft-light;
    //mix-blend-mode: overlay;
  
  }
}


img {
  position: relative;
    // height: 100%;
    //height: 1080px;
  
    width: 100%;

    .hover-information {
      &:hover {
        &:after{
          content: "view site";
        }
      }
    }
}

.portfolio-nav {
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: inherit;
  // height: 48px;
  padding: .75rem 0;
  transition: .25s all;

  a {
    margin: 1vh;
    white-space: nowrap;
  }

  .condensed {
    display: none;
  }

  @media (max-width: 768px) {
    .expanded {
      display: none;
    }

    .condensed {
      display: block;
    }
  }

  &.unstick {
      position: relative;
  }
}

.thumbs {
  @media (min-width:768px){
    max-width: 75vw;
    max-width: 1920px;
    margin: 0 auto;
    flex-wrap: nowrap;

    div {
      // height: 10vh;
      max-width: 33vmin;
      margin: auto;
      display: block;
    }
  }

  a:hover {
    opacity: .5;
  }
}

.thumbsrow{
    padding: 0 2rem;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;

    @media (max-width: 768px) {  
        padding: 2rem .5rem;
    }
}

a:hover { //hover animation for huge
  h2 { 
    letter-spacing: 2px;
  }
}

// .huge {
//   font-size: 12vmax;

//   @media (max-width:1024px){
//     font-size: 5rem;
//     letter-spacing: 1px;
//   }
//   @media (max-width:425px){
//     font-size: 3em;
//     letter-spacing: 1px;
//   }
// }

// &:nth-of-type(1) {
//   &:after {
//     content: "1";
//     visibility: visible;
// }
// }
// &:nth-of-type(2) {
// &:after {
//   content: "2";
//   visibility: visible;
// }
// }
// &:nth-of-type(3) {
// &:after {
//   content: "3";
//   visibility: visible;
// }
// }
// &:nth-of-type(4) {
// &:after {
//   content: "4";
//   visibility: visible;
// }
// }
// &:nth-of-type(5) {
// &:after {
//   content: "5";
//   visibility: visible;
// }
// }


.magbg,.cyanbg,.yellowbg,.offwhitebg {
  .lightbox {
    max-width: 1440px;
    //max-width: 1600px;
    //max-width: 1920px;
    padding: 1em;
    background-color: white;
    //background-color: var(--blackp);
    border: 1px solid var(--black);
    border-radius: .25em;

    h2,h3,h4,p,q {
      color: var(--black);
    }

    @media (max-width: 768px) {
      padding: .5em;
      padding: 0;
      
      margin: 0;
    }
  }
  .gallery-container {
    @media (max-width: 768px) {
      padding: 0;
    }
  }
}