@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@font-face {
    font-family: "Double Bass";
    src: url(DoubleBass-Regular-trial.ttf) format("truetype");
}

@font-face {
    font-family: "Fabin";
    src: url(FABIN___.TTF) format("truetype");
}

@font-face {
    font-family: "Linographer";
    src: url(Linographer.ttf) format("truetype");
}

@font-face {
    font-family: "Sex Pistols";
    src: url(Sex_Pistols.ttf) format("truetype");
}

@font-face {
    font-family: "Temblores";
    src: url(TEMBLORES.ttf) format("truetype");
}

@font-face {
    font-family: "Visual Establishment";
    src: url(visual_establishment.ttf) format("truetype");
}

@font-face {
    font-family: "Stripe Disco";
    src: url(StripeDisco.ttf) format("truetype");
}

@font-face {
    font-family: "Ahdn";
    src: url(AHDN.ttf) format("truetype");
}