* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #1b1c1e;
    --grey: #707070;
    --light-grey: #f8f6fa;
    --accent: #707070; 
    --background-color-primary: #fff;
    --background-color-secondary: #fff;
    --background-color-footer: #fff;
    --link: #707070;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
}

html {
    background-color: var(--background-color-primary);
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
	pointer-events: auto;
}

body {
    font-family: 'Poppins', Helvetica, sans-serif;
    color: var(--black);
}

/* h1 {
    font-size: 2vmin;
}

h2,h3 {
    font-size: .5vmin;
}

p {
    font-size: 1vmin;
} */

.title > h1, .title > h2, .title > h3 {
    font-size: 6vmin;
    font-size: auto;
}

footer {
    font-size: 1.5vmin;
}

a {
    color: var(--accent);
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1%;
}

a:hover {
    color: var(--black);
}

.link {
    margin: 0 auto;
}

p, li {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none;
}

section {
    width: 100%;
    max-width: 1920px;
    margin: auto;
    padding: 3rem;
    background-color: var(--background-color-secondary);
    
    
    line-height: 1.5em;
}

.title {
    max-width: 1920px;
    margin: auto;
    margin-top: 2em;
    padding: 3rem;
}

.title > h1, .title > h2, .title > h3 {
    max-width: 920px;
    line-height: 1.25em;
}

.accent {
    color: var(--accent);
}

.arrowbefore:before {
    content: "\2190  ";
}

.arrowafter:after {
    content: "  \2192";
}

.home.title > h2, .home.link {
    text-align: center;
}


.title > h2:after {
    content: " ";
}



footer {
    background-color: var(--background-color-footer);
    padding: 2rem 3rem;
    width: 100%;
    margin-top: 2em;
    border-top: 1px solid var(--light-grey);
}

footer > p {
    margin-left: 1em;
}

.footer-links > a {
    margin-left: 1em;
}

.hide {
    display: none;
}