.hero {
    background-color: black;
    min-height: 100vh;
}

.hero > h1 {
    font-size: 25.5vmin;
    font-weight: 500;
    color: beige;
    text-transform: uppercase;
    font-family: "Fabin", sans-serif;
    font-family: "Temblores", sans-serif;
    font-family: "Double Bass", sans-serif;
    /* font-family: "Anton"; */
}

/* .min {
    font-size: 10vw;
    transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);

    display: inline-block;
} */

.learnmore {
    font-size: .25em;
    font-weight: 500;
}

.follow {
    margin: 2rem 3rem;
    background-color: var(--light-grey);
}

.follow-links {
    font-size: 5vmin;
}

.title > .link {
    font-size: .75em;
    color: black;
}