.portfolio {
    /* justify-content: space-around; */
    max-width: 1920px;
    margin: auto;
    padding: 4rem 0;
}

.portfolio-item {
    /* width: 100%;
    min-width: 33%;
    margin-top: 2em; */
    width: 100%;
    flex-basis: 33.33%;
    padding: 0 2rem 3rem 0;
    /* flex-basis: 20%; */
    /* margin: 0 1em; */
}

/* .portfolio-item:nth-of-type(3n) {
    padding-right: 0;
} */

.portfolio-item > h3 {
    font-size: 3vmin;
    margin: .5em 0;
    white-space: nowrap;
}

.home-portfolio > .portfolio > .portfolio-item:before {
	display: block;
	content: "Featured work \2192";
	font-family: var(--global--font-secondary);
	font-family: -apple-system, system-ui;
	font-size: var(--global--font-size-base);
	font-weight: 400;
	line-height: var(--global--line-height-body);
    /* line-height: 2em; */
	transition: .5s all;
}

.portfolio-item:hover {
    cursor: pointer;
}

.portfolio-item:hover:before {
	padding-left: 2.5%;
}

.port-img {
    /* flex-basis: 33%; */
    height: 70vmin;
    width: 100%;
    border: 1px solid var(--light-grey);
    border-radius: 5px;
}