<div class="flex-column justify-end">

    <div class="section-inner flex-row halves justify-between">

        <div class="flex-column justify-between">
            <!-- <img src="./images/favicon.png" alt="WL" width="200px" height="200px"> -->
            <!-- <img src="./images/outfits.png" alt="black-and-white stick figure drawing of Willow walking" width="200px" height="200px" class="me"> -->
        </div>

        <div class="flex-column justify-between"
            style="width: 50%;">
            <nav class="flex-row justify-between">
                <ul class="footer-links flex-column flex-start">
                    <li><p class="h6">Sitemap</p></li>
                    <li><a href="/" class="">Home</a></li>
                    <li><a href="/work.html" class="image4">Past Work</a></li>
                    <!-- <li><a href="about.html" class="">About</a></li>  -->
                    <li><a href="/notebook.html" class="image5">Notebook</a></li>
                    <!-- <li><a href="work.html">Gallery</a></li> -->

                </ul> 
            
                <ul class="footer-links flex-column flex-start">
                    <li><p class="h6">Featured Works</p></li>
                    <li><a href="./w/west-jamestown.html" class="image1">Concept Art</a></li>
                    <li><a href="/w/west-jamestown.html" class="image2">Typography</a></li>
                    <li><a href="/work.html" class="image3">Development</a></li>
                    <!-- <li><a href="work.html">Gallery</a></li> -->
                </ul>

                <ul class="footer-links flex-column flex-start">
                    <li><p class="h6">About</p></li>
                    <!-- <li><a href="work.html">Gallery</a></li> -->
                    <!-- <li><a href="notebook.html" class="image5">Notebook</a></li> -->
                    <li><a href="styleguide.html">styleguide</a></li>
                    <li><a href="colophon.html">colophon</a></li>
                </ul>

                <ul class="footer-links flex-column">
                    <li><p class="h6">...Elsewhere</p></li>
                    <!-- <li><a href="https://github.com/willowlayland" target="_blank" rel="noopener noreferrer">github</a></li> -->
                    <li><a href="https://codepen.io/willowlayland" target="_blank" rel="noopener noreferrer">codepen</a></li>
                    <li><a href="https://instagram.com/willowlaylandotcom" target="_blank" rel="noopener noreferrer">instagram</a></li>
                    <li><a href="https://www.behance.net/willowlayland" target="_blank" rel="noopener noreferrer">behance</a></li>
                    <!-- <li><a href="https://bsky.app/profile/willowlay.land" target="_blank" rel="noopener noreferrer">bluesky</a></li> -->
                    <li><a href="https://www.linkedin.com/in/willow-layland" target="_blank" rel="noopener noreferrer">linkedin</a></li>
                </ul> 
            </nav>

        </div>
    </div>

    <div class="section-inner flex-row justify-between align-end"
    style="width: 100%;">
        
        <!-- <p class="accent upper" style="margin:0">tryin' stuff.</p>                    -->

        <div class="flex-column">
            <a href="mailto:mail@willowlayland.com" class="pill">Email</a> 
            <span class="accent arrowafterbefore" style="width: auto;"> mail@willowlayland.com</span>
            
            <!-- <a class="accent"><span class="pill" style="margin: 0; margin-right: 1em;">Email</span> mail@willowlayland.com</a> -->
        
            <!-- <p class="accent" style="margin:0">Last modified:<br> <script>document.write(new Date(document.lastModified))</script></p> -->
        </div>

        <div class="flex-row justify-between align-end copyright"
                style="width: 50%;">

                <!-- <p class="accent" style="margin:0">Last modified: <script>document.write(new Date(document.lastModified))</script></p> -->

                <p class="accent" style="margin: auto 0;">© Willow Layland <script>document.write(new Date().getFullYear())</script></p>

                <p class="accent" style="margin: 0">Last modified: <script>document.write(new Date(document.lastModified))</script></p>

                <!-- <p class="accent" style="margin:0">no trackers. site v=1.0</p> -->
                
                <!-- <a class="noarrow accent">mail@willowlayland.com<span class="pill" style="margin-bottom:0; margin-left: 1em;">Email</span></a> -->

                <!-- <p class="accent" style="margin:0">mail@willowlayland.com</p>                    -->
        

                <!-- <div class="flex-row" style="align-items: baseline; margin: 0;">
                    <span class="accent" style="width: auto;">mail@willowlayland.com</span>
                    <a href="mailto:mail@willowlayland.com" class="pill">Email</a> 
                </div> -->
            </div>
    </div>
</div>
       
