* { box-sizing: border-box; }

body {
	margin: 0;
	font-family: sans-serif;
	font-size: 1.4rem;
}

#bound-one {
	background: white;
}

.scroll-bound {
	height: 300vh; //this determines the duration
	
	.content {
		height: 100vh;
		width: 100%;
		position: sticky;
		top:0;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
	
	video, img {
		height: 400px;
	}
}

@media (min-width: 768px) {
  .bound-one-content-mobile {
    display: none;
  }
  
  .bound-one-content-desktop {
    display: block;
  }
}

@media (max-width: 768px) {
  .bound-one-content-mobile {
    display: block;
  }
  
  .scroll-bound {
	height: 100vh;
  }
  
  .bound-one-content-desktop {
    display: none;
  }
}